%h1 Scenes

%p= link_to "MAKE A RANDOM SCENE", random_scenes_path

%table
  %thead
    %tr
      %th Episode
      %th Scene #
      %th Description
      %th Characters
  %tbody
    - for scene in @scenes
      %tr
        %td= scene.episode.title
        %td= scene.position
        %td= link_to scene.description, scene
        %td= scene.characters.map {|c| c.name}.to_sentence

