%h1 Infinifriends

%h2= link_to "GENERATE ME A NEW EPISODE", random_episodes_path

%ul
  %li= link_to "Scenes", scenes_path
  %li= link_to "Episodes", episodes_path
  %li= link_to "Characters", characters_path

%hr

%ul
  - for episode in @episodes
    %li= link_to episode.title, episode

%hr

%h2 Characters

%ul
  - for character in @characters
    %li
      = link_to character.name, character
      [#{character.lines.size}]

